
$a: #4c630a;
$b: #83b012;
$c: #1274b0;
$d: #054063;
$e: #b00c00;

$theme-colors: (
  'primary': $a,
  'secondary': $b,
  'light': $c,
  'success': $c,
  'dark': $d,
  'danger': $e
);

@import '~bootstrap/scss/bootstrap';
