@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,800');
@import '~bootstrap/scss/bootstrap';
@import 'custom';

$a: #4c630a;
$b: #83b012;
$c: #1274b0;
$d: #054063;
$e: #b00c00;
// $logo: font-family: 'Merriweather Sans', sans-serif;

Button {
  margin-right: 2px;
}

h1 {
  color: $d;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 100px;
  margin-top: 100px;
  text-align: center;
}

.brand {
  font-family: 'Merriweather Sans', sans-serif;
}
