@import 'https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,800&display=swap'
@import '~bootstrap/scss/bootstrap';
@import 'custom';

$a: #4c630a;
$b: #83b012;
$c: #1274b0;
$d: #054063;
$e: #b00c00;

Button {
  margin-right: 2px;
}
